!======!
! SHOD !
!======!

! The width of the borders and divisions.
shod.borderWidth: 4

! The width of the title bar.
shod.titleWidth: 17

! Thickness of the 3D shadow effect.  Must be less than the border width.
shod.shadowThickness: 2

! The body color, light shadow color, and dark shadow color for the 3D effect of the borders
! and title bars of windows.

! ACTIVE
shod.activeBackground:          #3c3836
shod.activeTopShadowColor:      #504945
shod.activeBottomShadowColor:   #282828

! URGENT
shod.urgentBackground:          #CC0000
shod.urgentTopShadowColor:      #EF2929
shod.urgentBottomShadowColor:   #A40000

! INACTIVE
shod.inactiveBackground:        #282828
shod.inactiveTopShadowColor:    #3c3836
shod.inactiveBottomShadowColor: #1d2021

! The body color, light shadow color, and dark shadow color for the 3D effect of the notifi‐
! cation borders.
shod.notifBackground:           #3465A4
shod.notifTopShadowColor:       #729FCF
shod.notifBottomShadowColor:    #204A87

! The body color, light shadow color, and dark shadow color for the 3D effect of the dock.
shod.dockBackground:            #6b715b
shod.dockTopShadowColor:        #99a089
shod.dockBottomShadowColor:     #4a4e3f

! The body color, light shadow color, and dark shadow color for the 3D effect of the  prompt
! borders.
shod.promptBackground:          #3465A4
shod.promptTopShadowColor:      #729FCF
shod.promptBottomShadowColor:   #204A87

! The gap in pixels between notifications.
shod.notifGap: 3

! The placement of the dock described with up to two uppercase letters.   The  first  letter
! ("E", "N", "W" or "S") defines in which edge of the screen (East, North, West or South) to
! allign the dock.  The optional second letter (also "E", "N", "W" or "S") defines in  which
! corner of that edge of the screen to allign the dock; if no second letter is supplied, the
! dock is centered on that edge.  For example, for a value of "NE", a horizontal  dock  will
! be  placed in the north edge of the screen, alligned to the northeast corner.  For a value
! of "EN", a vertical dock will be placed in the east edge of the screen,  alligned  to  the
! northeast  corner.  For a value of "E" (the default), a vertical dock wil be placed in the
! east edge of the screen, alligned to its center.
shod.dockGravity: E

! The width (for vertical docks) or height (for horizontal dock) of the dock in pixels.  De‐
! faults to 64 (the size of most dockapps).
shod.dockWidth: 64

! The number of desktops for each monitor.  The default is 10 desktops for each monitor.
shod.numOfDesktops: 10

! The proximity of edges of a container in pixels for the snap attraction to occur when mov‐
! ing the container.  If set to zero, no snap attraction occurs.  The default is 8 pixels.
shod.snapProximity: 4

! The font of the text in the title bar.
shod.faceName: cozette:pixelsize=10

! The color of the text in the title bar.
shod.foreground: #d5c4a1

!=========!
! XPROMPT !
!=========!

! The font to drawn the text.  Multiple fonts can be added as fallback fonts; they must be separated by a comma.
xprompt.font: cozette:pixelsize=10
xprompt.background: #1d2021
xprompt.foreground: #d5c4a1
xprompt.description: #888888
xprompt.hoverbackground: #f1bd2f
xprompt.hoverforeground: #1d2021
xprompt.hoverdescription: #888888
xprompt.selbackground: #f1bd2f
xprompt.selforeground: #1d2021
xprompt.seldescription: #888880
xprompt.border: #3c3836
xprompt.borderWidth: 1
xprompt.separatorWidth: 0
xprompt.items: 20
xprompt.geometry: 400x0+0+0
xprompt.gravity: C
